.product-filter {
  align-self: start;
  width: 290px;
  padding: 15px 15px 30px;
  background: #fffdfd;
  border-radius: 10px;
  @include media-laptop {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    display: none;
    width: 265px;
    max-height: min(100%, calc(100vh - var(--product-filter-top, 120px) - 20px));
    padding: 15px 10px;
    box-shadow: 0 4px 22px rgb(88 86 86 / 0.15);
    overflow-y: auto;
    animation: fade-in 0.3s;
  }
  @include media-tablet {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 110;
    width: 100%;
    height: 100%;
    max-height: 100%;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
  }
  &__head {
    display: none;
    margin-bottom: 30px;
    @include media-laptop {
      display: block;
    }
    @include media-tablet {
      margin: 0;
      padding: 10px 15px;
      background: #fff;
      box-shadow: 0 4px 35px rgb(0 0 0 / 0.07);
    }
  }
  &__btn {
    position: relative;
    width: fit-content;
    padding-left: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    color: $blue;
    cursor: pointer;
    @include media-tablet {
      margin-left: auto;
      padding-left: 24px;
      font-weight: 600;
    }
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 14px;
      height: 14px;
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 15L14.999 1.00368M1 1L14.999 15' stroke='%231D57A5' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      background-size: contain;
      background-repeat: no-repeat;
      @include media-tablet {
        width: 20px;
        height: 20px;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.6042 17.5827L5.58341 10.5827C5.50008 10.4993 5.44119 10.4091 5.40675 10.3118C5.37175 10.2146 5.35425 10.1105 5.35425 9.99935C5.35425 9.88824 5.37175 9.78407 5.40675 9.68685C5.44119 9.58963 5.50008 9.49935 5.58341 9.41602L12.6042 2.39518C12.7987 2.20074 13.0417 2.10352 13.3334 2.10352C13.6251 2.10352 13.8751 2.20768 14.0834 2.41602C14.2917 2.62435 14.3959 2.8674 14.3959 3.14518C14.3959 3.42296 14.2917 3.66602 14.0834 3.87435L7.95841 9.99935L14.0834 16.1244C14.2779 16.3188 14.3751 16.5582 14.3751 16.8427C14.3751 17.1277 14.2709 17.3744 14.0626 17.5827C13.8542 17.791 13.6112 17.8952 13.3334 17.8952C13.0556 17.8952 12.8126 17.791 12.6042 17.5827Z' fill='%231D57A5'/%3E%3C/svg%3E%0A");
      }
    }
    &-tablet {
      @include media-tablet {
        display: none;
      }
    }
    &-mobile {
      display: none;
      @include media-tablet {
        display: block;
      }
    }
  }
  &__main {
    @include media-tablet {
      padding: 20px 15px;
    }
  }
  &__section {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &__title {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.2;
    @include media-laptop {
      margin-bottom: 10px;
      font-size: 15px;
    }
  }
  &__ul {
    margin: 0;
    padding: 0 0 0 15px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    list-style: none;
    @include media-laptop {
      padding-left: 10px;
      font-size: 13px;
    }
    @include media-tablet {
      font-size: 14px;
    }
  }
  &__li {
    &:not(:last-child) {
      margin-bottom: 10px;
      @include media-tablet {
        margin-bottom: 15px;
      }
    }
    &.active {
      font-weight: 700;
      color: $blue;
    }
  }
  &__ui-checkbox {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  &__actions {
    display: none;
    margin-top: 35px;
    @include media-laptop {
      display: block;
    }
  }
  &__ui-button {
    width: 100%;
  }
  &__close {
    @include media-tablet {
      display: none;
    }
  }
  &__submit {
    display: none;
    @include media-tablet {
      display: block;
    }
  }
  &.active {
    display: block;
  }
}
