.ui-select {
  position: relative;
  width: 100%;
  .select2-container {
    display: block;
    .select2 {
      &-selection {
        height: auto;
        padding: 14px 50px 14px 14px;
        background: #fff;
        border: 1px solid $grey80;
        border-radius: 10px;
        @include media-laptop {
          padding: 8px 50px 8px 8px;
        }
        @include media-tablet {
          padding: 9px 34px 9px 8px;
        }
        &__placeholder {
          color: $grey80;
        }
        &__rendered {
          padding: 0;
          font-weight: 600;
          font-size: 14px;
          line-height: 1.2;
          color: $blue;
          @include media-tablet {
            font-size: 12px;
          }
        }
        &__arrow {
          top: 50%;
          right: 14px;
          transform: translateY(-50%) scaleY(0.9);
          width: 24px;
          height: 24px;
          transition: 0.3s;
          @include media-tablet {
            right: 10px;
          }
          &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(-45deg);
            width: 9px;
            height: 9px;
            margin: -2px 0 0;
            border: 2px solid $grey80;
            border-top-width: 0;
            border-right-width: 0;
          }
          b {
            display: none;
          }
        }
      }
      &-dropdown {
        border: none;
        box-shadow: none;
      }
      &-results {
        &__options {
          max-height: 300px;
          padding: 12px 15px;
          background: $grey;
          border-radius: 10px;
          @include media-laptop {
            padding: 8px;
          }
          @include media-tablet {
            padding: 10px;
          }
        }
        &__option {
          padding: 8px 0;
          font-weight: 600;
          font-size: 14px;
          line-height: 1.2;
          @include media-tablet {
            padding: 4px 0;
            font-size: 12px;
          }
          &--highlighted,
          &--selected {
            background-color: transparent;
            color: $blue;
          }
        }
      }
    }
    &.select2-container--open {
      .select2 {
        &-selection {
          border-color: $blue;
          border-radius: 10px;
          &__arrow {
            transform: translateY(-50%) scaleY(0.9) rotate(180deg);
            &::before {
              border-color: $blue;
            }
          }
        }
      }
    }
  }
  &.filled {
    .select2 {
      &-selection {
        border-color: $blue;
        &__arrow {
          &::before {
            border-color: $blue;
          }
        }
      }
    }
  }
  &--size-s {
    .select2-container {
      .select2 {
        &-selection {
          padding: 10px 50px 10px 10px;
        }
      }
    }
  }
  &--order-filter {
    .select2-container {
      .select2 {
        &-selection {
          padding: 14px 50px 14px 14px;
          @include media-tablet {
            padding: 13px 34px 13px 10px;
          }
          &__rendered {
            font-size: 14px;
          }
        }
      }
    }
  }
  &--light {
    .select2-container {
      .select2 {
        &-selection {
          border-color: #fff;
          border-radius: 6px;
          &__rendered {
            font-weight: 400;
            color: #6e6e6e;
          }
          &__arrow {
            &::before {
              border-color: #6e6e6e;
            }
          }
        }
        &-dropdown {
          margin-top: 5px;
          box-shadow: 0 4px 22px rgb(88 86 86 / 0.09);
        }
        &-results {
          &__options {
            padding: 5px 0;
            background: #fff;
            border-radius: 6px;
          }
          &__option {
            padding: 10px 20px;
            font-weight: 500;
            &--highlighted,
            &--selected {
              background-color: #fafafa;
            }
          }
        }
      }
      &.select2-container--open {
        .select2 {
          &-selection {
            border-color: #fff;
            border-radius: 6px;
            &__arrow {
              &::before {
                border-color: #6e6e6e;
              }
            }
          }
        }
      }
    }
  }
}
