mixin about(mods)
  -
    const baseName = 'about'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  -
    const aboutFeaturesItems =[
      { title: 'Надежный партнер' },
      { title: 'Склады А класса' },
      { title: 'Широкая география присутствия' },
      { title: 'Индивидуальный подход к&nbsp;каждому клиенту' },
    ]

  .about(class=allMods)&attributes(attributes)
    .about__img
      img(src='img/about_img.webp', alt='')
    .inner
      .about__content
        .about__text
          +ui-h2('О компании', 'about, --bold')
          .about__descr
            p ООО «Food star» – одна из крупнейших компаний на рынке услуг доставки товаров и оптовых продаж на территории Российской Федерации
            p Оказываем комплекс услуг по дистрибуции, продвижению, логистике и импорту-экспорту продуктов питания ведущих мировых и&nbsp;российских производителей.
            p Обращаясь к нам, партнер может быть уверен в высоком уровне сервиса и конкурентной цене услуг.
        .about__features
          each item, index in aboutFeaturesItems
            .about__features-item
              .about__features-icon
                img(src=`img/about_features_icon${index}.svg`, alt='')
              .about__features-title !{item.title}
    block
