mixin notice-added(mods)
  -
    const baseName = 'notice-added'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .notice-added(class=allMods)&attributes(attributes)
    .notice-added__text Товар добавлен в&nbsp;корзину
    +ui-button('Перейти в корзину', 'notice-added')(href = (siteType === 'lk' ? 'lk-basket.html' : 'basket.html'))
    block
