mixin categories(mods)
  -
    const baseName = 'categories'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .categories(class=allMods)&attributes(attributes)
    a.categories__item(href='#')
      img(src='img/categories_img_0.webp', alt='')
    a.categories__item(href='#')
      img(src='img/categories_img_1.webp', alt='')
    block
