.section {
  &:not(:first-child) {
    margin-top: 60px;
    @include media-laptop {
      margin-top: 50px;
    }
  }
  &--mt-l {
    &:not(:first-child) {
      margin-top: 80px;
      @include media-laptop {
        margin-top: 50px;
      }
    }
  }
  &--mt-xl {
    &:not(:first-child) {
      margin-top: 100px;
      @include media-laptop {
        margin-top: 50px;
      }
    }
  }
  &--bg {
    padding: 60px 0;
    background: $grey;
    @include media-laptop {
      padding: 50px 0;
    }
  }
  &--ov {
    overflow: hidden;
  }
}
.section-head {
  margin-bottom: 30px;
  @include media-laptop {
    margin-bottom: 20px;
  }
  &__all {
    font-size: 18px;
    line-height: 1.2;
    color: $blue;
    @include media-laptop {
      font-size: 16px;
    }
  }
  &--flex {
    display: flex;
    align-items: baseline;
    gap: 20px;
    flex-wrap: wrap;
    @include media-tablet {
      gap: 5px 15px;
    }
  }
}
