.product-inner {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: start;
  gap: 30px 70px;
  @include media-laptop {
    gap: 25px 30px;
  }
  @include media-tablet {
    display: block;
  }
  &__product-slider {
    width: 520px;
    grid-row: span 2;
    @include media-laptop {
      width: 320px;
      grid-row: span 1;
    }
    @include media-tablet {
      width: 100%;
      max-width: 460px;
      margin: 0 auto 25px;
    }
  }
  &__ui-button {
    @include media-laptop {
      grid-column: 1/-1;
    }
    @include media-tablet {
      width: 100%;
      margin-top: 20px;
    }
  }
}
