mixin policy(mods)
  -
    const baseName = 'policy'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .policy(class=allMods)&attributes(attributes)
    ol.policy__ol.policy__ol--level1
      li Общие положения
        .policy__text
          p Настоящая политика обработки персональных данных составлена в&nbsp;соответствии с&nbsp;требованиями Федерального закона
            =' '
            span.ui-nowrap от 27.07.2006.
            =' '
            span.ui-nowrap №152-ФЗ
            |  «О&nbsp;персональных данных» (далее - Закон о&nbsp;персональных данных) и&nbsp;определяет порядок обработки персональных данных и&nbsp;меры по&nbsp;обеспечению
            |  безопасности персональных данных, предпринимаемые TEST TESTOVICH (далее – Оператор)
          ol.policy__ol.policy__ol--level2
            li Оператор ставит своей важнейшей целью и&nbsp;условием осуществления своей деятельности соблюдение прав и&nbsp;свобод человека
              |  и&nbsp;гражданина при обработке его персональных данных, в&nbsp;том числе защиты прав на&nbsp;неприкосновенность частной жизни, личную и&nbsp;семейную тайну.
            li Настоящая политика Оператора в&nbsp;отношении обработки персональных данных (далее – Политика) применяется ко&nbsp;всей информации,
              |  которую Оператор может получить о&nbsp;посетителях веб-сайта https://TEST.RU.
      li Основные понятия, используемые в Политике
        .policy__text
          ol.policy__ol.policy__ol--level2
            li Автоматизированная обработка персональных данных – обработка персональных данных с помощью средств вычислительной техники.
            li Блокирование персональных данных – временное прекращение обработки персональных данных (за&nbsp;исключением случаев, если обработка необходима для&nbsp;уточнения персональных данных).
            li Веб-сайт – совокупность графических и&nbsp;информационных материалов, а&nbsp;также программ для&nbsp;ЭВМ и&nbsp;баз данных, обеспечивающих их&nbsp;доступность
              |  в&nbsp;сети интернет по&nbsp;сетевому адресу https://TEST.RU.
      li Основные права и&nbsp;обязанности Оператора
        .policy__text
          ol.policy__ol.policy__ol--level2
            li Оператор имеет право:
              ul.policy__ul
                li получать от субъекта персональных данных достоверные информацию и/или документы, содержащие персональные данные;
                li в случае отзыва субъектом персональных данных согласия на&nbsp;обработку персональных данных Оператор вправе продолжить
                  |  обработку персональных данных без&nbsp;согласия субъекта персональных данных при&nbsp;наличии оснований, указанных в&nbsp;Законе о&nbsp;персональных данных;
                li самостоятельно определять состав и&nbsp;перечень мер, необходимых и&nbsp;достаточных для&nbsp;обеспечения выполнения обязанностей, предусмотренных
                  |  Законом о&nbsp;персональных данных и&nbsp;принятыми в&nbsp;соответствии с&nbsp;ним нормативными правовыми актами, если иное не&nbsp;предусмотрено
                  |  Законом о&nbsp;персональных данных или&nbsp;другими федеральными законами.
      li Основные права и обязанности субъектов персональных данных
        .policy__text
          ol.policy__ol.policy__ol--level2
            li Субъекты персональных данных имеют право:
              ul.policy__ul
                li получать информацию, касающуюся обработки его персональных данных, за&nbsp;исключением случаев, предусмотренных федеральными законами.
                  |  Сведения предоставляются субъекту персональных данных Оператором в&nbsp;доступной форме, и в&nbsp;них не&nbsp;должны содержаться персональные данные,
                  |  относящиеся к&nbsp;другим субъектам персональных данных, за&nbsp;исключением случаев, когда имеются законные основания для&nbsp;раскрытия таких персональных данных.
                  |  Перечень информации и&nbsp;порядок ее получения установлен Законом о&nbsp;персональных данных;
      li Оператор может обрабатывать следующие персональные данные Пользователя
        .policy__text
          ol.policy__ol.policy__ol--level2
            li Фамилия, имя, отчество.
            li Электронный адрес.
            li Номера телефонов.
            li Также на сайте происходит сбор и&nbsp;обработка обезличенных данных о&nbsp;посетителях (в т.ч. файлов «cookie») с&nbsp;помощью сервисов
              |  интернет-статистики (Яндекс Метрика и&nbsp;Гугл Аналитика и&nbsp;других).
            li Вышеперечисленные данные далее по&nbsp;тексту Политики объединены общим понятием Персональные данные.
      li Принципы обработки персональных данных
        .policy__text
          ol.policy__ol.policy__ol--level2
            li Обработка персональных данных осуществляется на&nbsp;законной и&nbsp;справедливой основе.
            li Обработка персональных данных ограничивается достижением конкретных,
              |  заранее определенных и&nbsp;законных целей. Не&nbsp;допускается обработка персональных данных, несовместимая с&nbsp;целями сбора персональных данных.
            li Не допускается объединение баз данных, содержащих персональные данные, обработка которых осуществляется в&nbsp;целях, несовместимых между собой.
            li Обработке подлежат только персональные данные, которые отвечают целям их обработки.
            li Содержание и объем обрабатываемых персональных данных соответствуют заявленным целям обработки.
              |  Не&nbsp;допускается избыточность обрабатываемых персональных данных по&nbsp;отношению к&nbsp;заявленным целям их обработки.
      li Цели обработки персональных данных
        .policy__text
          ol.policy__ol.policy__ol--level2
            li Цель обработки персональных данных Пользователя:
              ul.policy__ul
                li информирование Пользователя посредством отправки электронных писем;
                li заключение, исполнение и&nbsp;прекращение гражданско-правовых договоров;
                li предоставление доступа Пользователю к&nbsp;сервисам, информации и/или материалам, содержащимся на веб-сайте https://TEST.RU.
      li Правовые основания обработки персональных данных
        .policy__text
          ol.policy__ol.policy__ol--level2
            li Правовыми основаниями обработки персональных данных Оператором являются:
              ul.policy__ul
                li перечислите нормативно-правовые акты, регулирующие отношения, связанные с&nbsp;вашей деятельностью, например,
                  |  если ваша деятельность связана с&nbsp;информационными технологиями, в&nbsp;частности с&nbsp;созданием сайтов, то&nbsp;здесь можно указать
                  |  Федеральный закон "Об&nbsp;информации, информационных технологиях и&nbsp;о&nbsp;защите информации" от 27.07.2006 N 149-ФЗ;
                li уставные документы Оператора;
      li Условия обработки персональных данных
        .policy__text
          ol.policy__ol.policy__ol--level2
            li Обработка персональных данных осуществляется с&nbsp;согласия субъекта персональных данных на&nbsp;обработку его персональных данных.
            li Обработка персональных данных необходима для&nbsp;достижения целей, предусмотренных международным договором Российской Федерации или&nbsp;законом,
              |  для&nbsp;осуществления возложенных законодательством Российской Федерации на&nbsp;оператора функций, полномочий и&nbsp;обязанностей.
            li Обработка персональных данных необходима для&nbsp;осуществления правосудия, исполнения судебного акта, акта другого органа или&nbsp;должностного лица,
              |  подлежащих исполнению в&nbsp;соответствии с&nbsp;законодательством Российской Федерации об&nbsp;исполнительном производстве.
      li Конфиденциальность персональных данных
        .policy__text
          p Оператор и&nbsp;иные лица, получившие доступ к&nbsp;персональным данным, обязаны не&nbsp;раскрывать третьим лицам и&nbsp;не&nbsp;распространять
            |  персональные данные без&nbsp;согласия субъекта персональных данных, если иное не&nbsp;предусмотрено федеральным законом.
    block
