.policy {
  &__ol {
    margin: 0;
    padding: 0;
    list-style: none;
    counter-reset: lvl1;
    > li {
      counter-increment: lvl1;
      &::before {
        content: counter(lvl1) '.';
        margin-right: 0.5ch;
      }
    }
    &--level1 {
      font-weight: 600;
      font-size: 25px;
      line-height: 1.4;
      @include media-laptop {
        font-size: 18px;
      }
      @include media-tablet {
        font-size: 16px;
      }
      > li {
        &:not(:last-child) {
          margin-bottom: 25px;
          @include media-tablet {
            margin-bottom: 20px;
          }
        }
      }
    }
    &--level2 {
      counter-reset: lvl2;
      > li {
        counter-increment: lvl2;
        &::before {
          content: counter(lvl1) '.' counter(lvl2) '.';
          font: inherit;
        }
      }
    }
  }
  &__ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      &::before {
        content: '– ';
      }
    }
  }
  &__text {
    margin-top: 15px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.4;
    @include media-laptop {
      font-size: 14px;
    }
  }
  p {
    &:not(:last-child) {
      margin-bottom: 1.4em;
    }
  }
}
