mixin news-current(mods)
  -
    const baseName = 'news-current'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .news-current(class=allMods)&attributes(attributes)
    -for(items = 0; items < 3; items++)
      a.news-current__item(href='#')
        .news-current__date 14.10.2022
        .news-current__title К 2030 году PepsiСo откажется от первичного пластика  в упаковке чипсов и сухариков в Европе
        .news-current__descr Новая амбициозная цель компании – добиться, чтобы к 2030 году 100 % пластика в составе упаковки всех видов снеков являлось
    block
