-
  const footerContacts =[
    { icon: 'icon_location', text: 'г. Старый Оскол' },
    { icon: 'icon_phone', text: '<a href="tel:88001234567">8 800 123-45-67</a>' },
    { icon: 'icon_mail', text: '<a href="mailto:sales@optovikpro.ru">sales@optovikpro.ru</a>' },
    { icon: 'icon_time', text: '09:00 — 21:00' },
  ]

-
  const footerPages =[
    { text: 'Главная', link: 'main.html'},
    { text: 'О компании', link: 'about.html' },
    { text: 'Сотрудничество', link: 'cooperation.html' },
    { text: 'Новости', link: 'news.html' },
    { text: 'Контакты', link: 'contacts.html' },
  ]

footer.footer
  .inner
    .footer__head
      a.footer__logo(href='/')
        img(src='img/icon_logo.png', alt='')
    .footer__main
      .footer__column.footer__column--contacts
        .footer__title Контакты:
        .footer__contacts
          each item in footerContacts
            .footer__contacts-item
              .footer__contacts-icon
                img(src=`img/${item.icon}.svg`, alt='')
              .footer__contacts-link !{item.text}

      .footer__column
        .footer__title Страницы:
        ul.footer__pages
          each item in footerPages
            .footer__pages-item
              a(href=item.link)=item.text

      .footer__column
        .footer__title Популярные бренды
        .footer__brands
          -for(menuColumn = 0; menuColumn < 3; menuColumn++)
            .footer__brands-column
              .footer__brands-item
                  a(href='#') Название брендабренда бренда
              -for(menuItem = 0; menuItem < 4; menuItem++)
                .footer__brands-item
                  a(href='#') Название бренда

      .footer__to-top

    .footer__foot
      .footer__copyright © 2022. «Food star»
      .footer__policy
        a(href='#') Политика конфиденциальности
