mixin news-inner(mods)
  -
    const baseName = 'news-inner'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .news-inner(class=allMods)&attributes(attributes)
    .news-inner__banner
      img(src='img/news_img.webp', alt='')
    h1.news-inner__h1 PepsiCo инвестировала полмиллиарда рублей в производство детских соков на Лианозовском молочном комбинате
    .news-inner__section
      p На Лианозовском молочном комбинате запущено производство соков «Агуша» в рамках крупного инвестиционного проекта с&nbsp;Правительством Москвы. В 2020 году компания PepsiCo заключила с городом офсетный контракт на поставку до конца 2029 года детского питания под маркой «Агуша», включающего молоко, соки, фруктовые, овощные и мясные пюре, каши, творог, кефир, кисломолочные и сухие смеси. Всего в рамках проекта компания инвестирует более 2 млрд рублей в расширение и&nbsp;модернизацию производственных мощностей на московских предприятиях «Вимм-Билль-Данн» (с 2011 г. входит в PepsiCo).
    .news-inner__section
      p Производственная мощность нового процессного оборудования − 5 тонн в час. Инвестиции в проект составили около 500 млн рублей. На новом оборудовании завод будет производить пять наименований сока
        =' '
        a(href='#') «Агуша».
    .news-inner__section
      blockquote
        b Давид Манзини, Президент PepsiCo:
        =' '
        i «Сотрудничество с таким заказчиком как Правительство Москвы – это высокий уровень доверия, оказанный нашей компании со стороны партнеров и потребителей. С момента своего открытия в 1982 году Лианозовский молочный комбинат обеспечивает город качественной и полезной продукцией для молочных кухонь, и уже не одно поколение москвичей выросло на детском питании нашего производства. Это, безусловно, высокое признание нашей работы в течение стольких лет».
    .news-inner__section
      p
        b Нумерованный текст:
        ol
          li Производственная мощность нового процессного оборудования − 5 тонн в час.
          li Инвестиции в проект составили около 500 млн рублей.
          li На новом оборудовании завод будет производить пять наименований сока «Агуша».
    .news-inner__section
      p
        b Маркированный список:
        ul
          li Производственная мощность нового процессного оборудования − 5 тонн в час.
          li Инвестиции в проект составили около 500 млн рублей.
          li На новом оборудовании завод будет производить пять наименований сока «Агуша».
    .news-inner__footnotes
      p *Различные сноски будут распологаться здесь
      p **Различные сноски будут распологаться здесь
    block
