.ui-button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  padding: 10px 35px;
  font: 600 16px/1.25 $font;
  text-align: center;
  white-space: nowrap;
  color: #fff;
  background: $blue;
  border: 0;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s ease;
  cursor: pointer;
  @include media-laptop {
    padding: 9px 27px;
    font-size: 14px;
  }
  span {
    position: relative;
    z-index: 1;
  }
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #cbedff;
    box-shadow: -7px -7px 20px 0 #fff9, -4px -4px 5px 0 #fff9, 7px 7px 20px 0 #0002, 4px 4px 5px 0 #0001;
    transition: all 0.3s ease;
  }
  &:active {
    color: $blue;
    background: #cbedff;
  }
  @include media-hover {
    color: $blue;
    background: #cbedff;
    &::after {
      top: 0;
      height: 100%;
    }
  }
  &__burger {
    position: relative;
    z-index: 1;
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    margin-right: 15px;
    cursor: pointer;
    @include media-laptop {
      margin-right: 4px;
      transform: scale(0.7);
    }
    span {
      position: absolute;
      top: 9px;
      left: 0;
      width: 20px;
      height: 2px;
      background: currentcolor;
      border-radius: 2px;
      &::before,
      &::after {
        content: '';
        position: absolute;
        top: -7px;
        left: 0;
        width: 20px;
        height: 2px;
        background: currentcolor;
        border-radius: 2px;
        transition: transform 0.3s;
      }
      &::after {
        top: 7px;
      }
    }
  }
  &--size-m {
    min-width: 212px;
    padding: 14px 42px;
    font-size: 18px;
    @include media-laptop {
      padding: 12px 42px;
      font-size: 16px;
    }
    @include media-tablet {
      min-width: unset;
    }
  }
  &--burger-active {
    .ui-button__burger {
      span {
        background: transparent;
        &::before {
          transform: rotate(-45deg) translate(-4px, 4px);
        }
        &::after {
          transform: rotate(45deg) translate(-6px, -6px);
        }
      }
    }
  }
}
