// fonts
$font: 'Montserrat', 'Arial', sans-serif;

// colors
$black: #151515;
$grey: #f7fafb;
$grey60: #a9a9a9;
// $bgBlack: #212525;
// $orange: #fe5000;
// $teal: #008080;
$blue: #1d57a5;

// media
$mediaWidthLaptop: 1360px;
$mediaWidthTablet: 767px;
