// fonts
$font: 'Montserrat', 'Arial', sans-serif;

// colors
$black: #151515;
$grey: #f7fafb;
$grey70: #9d9d9d;
$grey80: #8a8a8a;
$grey85: #858585;
$grey90: #a9a9a9;
$blue: #1d57a5;
$blue40: #cbedff;
$error: #eb1212;
$statusNew: #0192d4;
$statusProcessing: #f6c343;
$statusConfirmed: #05ce25;
$statusCompleted: #abb0c1;
$statusError: #f64343;

// media
$mediaWidthLaptop: 1360px;
$mediaWidthTablet: 767px;
