// fonts
$font: 'Montserrat', 'Arial', sans-serif;

// colors
$black: #151515;
$grey: #f7fafb;
$grey60: #a9a9a9;
$blue: #1d57a5;
$error: #eb1212;

// media
$mediaWidthLaptop: 1360px;
$mediaWidthTablet: 767px;
