mixin banners-list(mods)
  -
    const baseName = 'banners-list'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .banners-list(class=allMods)&attributes(attributes)
    .inner
      .swiper
        .swiper-wrapper
          -for(item = 0; item < 3; item++)
            .banners-list__item.swiper-slide
              img(src=`img/banners_list_${item}.webp`, alt='')
    +ui-swiper-buttons('banners-list, --size-l')
    block
