mixin form-cooperation(mods)
  -
    const baseName = 'form-cooperation'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .form-cooperation(class=allMods)&attributes(attributes)
    .form-cooperation__title Заявка на сотрудничество
    .form-cooperation__wrapper
      form.form-cooperation__main(action='#')
        #eeeel
        .form-cooperation__line.form-cooperation__line--grid
          +ui-input('formCooperationName', 'ФИО', 'form-cooperation')(required)
          +ui-input('formCooperationPhone', 'Телефон', 'form-cooperation')(required data-parsley-errors-messages-disabled data-parsley-phone='')
        .form-cooperation__line.form-cooperation__line--grid
          +ui-input('formCooperationMail', 'Электронная почта', 'form-cooperation', 'email')(required data-parsley-errors-messages-disabled)
          +ui-input('formCooperationINN', 'ИНН', 'form-cooperation')(required data-parsley-errors-messages-disabled)
        .form-cooperation__line
          +ui-input('formCooperationLocation', 'Город доставки', 'form-cooperation')(required data-parsley-errors-messages-disabled)
        .form-cooperation__line.form-cooperation__line--submit
          +ui-button('Отправить', 'form-cooperation')
          .form-cooperation__agree Нажимая «Отправить», вы соглашаетесь

            =' '
            | с&nbsp;
            a.text-blue.text-underline(href='#') политикой конфиденциальности
      .form-cooperation__img
        img(src='img/form_cooperation_img.png', alt='')
    block
