mixin ui-range(mods)
  -
    const baseName = 'ui-range'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .ui-range(class=allMods)&attributes(attributes)
    .ui-range__body
      .ui-range__native
    .ui-range__wrap
      .ui-range__val
        input.ui-range__lower(type='text')
        //- span.ui-range__val-unit от
        //- span.ui-range__val-lower
      .ui-range__val
        input.ui-range__upper(type='text')
        //- span.ui-range__val-unit до
        //- span.ui-range__val-upper
    block
