extends layouts/layout

block variables
  -
    const pageTitle ='О компании'

block content
  main.main
    +section
      .inner
        +section-head
          +ui-h2('О компании', '--bold')
        +who-we

    +section('--bg')
      .inner
        +section-head.ui-center
          +ui-h2('Наши ценности')
        +our-values

    +section
      .inner
        +achievements

    +section
      .inner
        +section-head.ui-center
          +ui-h2('Наши партнеры')
        +partners
