extends layouts/layout

block variables
  -
    const pageTitle ='Скачать Каталог'

block content
  main.main
    +breadcrumbs
      +breadcrumbs-item('Главная', 'main.html')
      +breadcrumbs-item('Каталог')
    .page-content
      +section
        .inner
          +section-head
            +ui-h2('Скачать каталог', '--bold')
          +catalogs
          +pagination
