extends layouts/layout

block variables
  -
    const pageTitle ='Сотрудничество'

block content
  main.main
    +breadcrumbs
      +breadcrumbs-item('Главная', 'main.html')
      +breadcrumbs-item(pageTitle)
    .page-content
      +section
        .inner
          +section-head
            +ui-h2('Сотрудничество', '--bold')
          +cooperation
      +section('--bg')
        .inner
          +form-cooperation
