extends layouts/layout

block variables
  -
    const pageTitle ='Избранное'

block content
  main.main
    +breadcrumbs
      +breadcrumbs-item('Главная', 'main.html')
      +breadcrumbs-item(pageTitle)
    .page-content
      +section
        .inner
          +section-head
            +ui-h2('Избранные товары', '--bold')
          +product-grid('--4items')
            -for(item = 0; item < 6; item++)
              +product-item('favActive', '--column')
          +pagination
