extends layouts/layout

block variables
  -
    const pageTitle ='Index'
    const headerBasketFill = true
    const headerFavActive = true
    const headerUserAuthorized = true

block content
  main.main.main-pt-l
    .page-content
      +section
        .inner
