extends layouts/layout

block variables
  -
    const pageTitle ='Index'
    const headerBasketEmpty = true
    const headerFavActive = true
    const headerUserAuthorized = true

block content
  main.main.main-pt-l
    .page-content
      +section
        .inner
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
