extends layouts/layout

block variables
  -
    const pageTitle ='Index'

block content
  main.main.main-pt-l
    .page-content
      +section
        .inner
          a(href='index2.html') header - в корзине есть товары, страница с избранным товаром, пользователь авторизован
          br
          br
          br
          a(href='main.html') Главная
          br
          br
          a(href='products-catalog.html') Каталог товаров
          br
          br
          a(href='product-inner.html') Карточка товара
          br
          br
          a(href='basket.html') Корзина
          br
          br
          a(href='news.html') Новости
          br
          br
          a(href='news-inner.html') Новости детальная
          br
          br
          a(href='contacts.html') Контактная информация
          br
          br
          a(href='about.html') О компании
          br
          br
          a(href='cooperation.html') Сотрудничество
          br
          br
          a(href='policy.html') Политика конфиденциальности
          br
          br
          a(href='catalog.html') Скачать каталог
          br
          br
          a(href='featured-products.html') Избранные товары
