extends layouts/layout

block variables
  -
    const pageTitle ='Новости'

block content
  main.main
    +section
      .inner
        +section-head
          +ui-h2('Новости', '--bold')
        +news-list
        +pagination
