extends layouts/layout

block variables
  -
    const pageTitle ='Новости'

block content
  main.main
    +breadcrumbs
      +breadcrumbs-item('Главная', 'main.html')
      +breadcrumbs-item(pageTitle)
    .page-content
      +section
        .inner
          +section-head
            +ui-h2('Новости', '--bold')
          +news-list
          +pagination
