extends layouts/layout

block variables
  -
    const pageTitle ='Новости Детальная'
    const pagePath = 'news.html'

block content
  main.main
    +breadcrumbs
      +breadcrumbs-item('Главная', 'main.html')
      +breadcrumbs-item('Новости',  'news.html')
      +breadcrumbs-item('Статья')

    .page-content
      +section
        .inner
          +news-inner
