extends layouts/layout

block variables
  -
    const pageTitle ='Политика конфиденциальности'

block content
  main.main
    +breadcrumbs
      +breadcrumbs-item('Главная', 'main.html')
      +breadcrumbs-item(pageTitle)
    .page-content
      +section
        .inner
          +section-head
            +ui-h2('Политика конфиденциальности')
          +policy
