extends layouts/layout

block variables
  -
    const pageTitle ='Карточка товара'

block content
  main.main
    +breadcrumbs
      +breadcrumbs-item('Главная', 'main.html')
      +breadcrumbs-item('Каталог', '#')
      +breadcrumbs-item('NESCAFE', '#')
      +breadcrumbs-item('NESCAFÉ GOLD Aroma Intenso')

    .page-content
      +section
        .inner
          +product-inner
      +section('--bg, --ov')
        .inner
          +section-head
            +ui-h2('Похожие товары', '--bold')
          +product-grid('--4slider')
            .swiper
              .swiper-wrapper
                -for(item = 0; item < 6; item++)
                  +product-item('hit, favActive', '--column').swiper-slide
              +ui-swiper-buttons('product-grid')

    +popup-wrapper('--big')#popup-info
      .popup-close.js-close-popup
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        ul
          li Lorem ipsum dolor sit amet
          li Lorem
