extends layouts/layout

block variables
  -
    const pageTitle ='Каталог товаров'

  -
    const productFilterUl =[
      { text: 'Кондитерские изделия' },
      { text: 'Кулинария' },
      { text: 'Какао-напитки' },
      { text: 'Готовые завтраки и&nbsp;злаковые ботончики' },
      { text: 'Каши' },
      { text: 'Детское питание' },
      { text: 'Лечебное и лечебно-профилактическое питание' },
      { text: 'Минеральная вода' },
      { text: 'Корма для животных' },
      { text: 'Молочная продукция' },
      { text: 'Соки' },
      { text: 'Алкогольная продукция' },
    ]

block content
  main.main
    +breadcrumbs
      +breadcrumbs-item('Главная', 'main.html')
      +breadcrumbs-item('Каталог', '#')
      +breadcrumbs-item('NESCAFE')

    .page-content
      +section
        .inner
          +section-head
            +ui-h2('Продукция NESCAFE', '--bold')
          .product-catalog
            +product-filter
            .product-catalog__main
              .product-catalog__actions
                .product-open-filter
                  button.product-open-filter__button Фильтр
                +ui-select('product-catalog', 'Цена по возрастанию', 'Цена по убыванию', 'По умолчанию')(data-placeholder='Тип сортировки')
                +product-view-nav
              .product-view-main
                .product-head
                  .product-head__item Фото
                  .product-head__item Наименование
                  .product-head__item стоимость
                  .product-head__item купить
                +product-grid('--column')
                  -for(item = 0; item < 6; item++)
                    +product-item('new', '--column')
                +pagination
