extends layouts/layout

block variables
  -
    const pageTitle ='Карточка товара'

block content
  main.main
    +breadcrumbs
      +breadcrumbs-item('Главная', 'main.html')
      +breadcrumbs-item('Каталог', '#')
      +breadcrumbs-item('NESCAFE', '#')
      +breadcrumbs-item('NESCAFÉ GOLD Aroma Intenso')
    .page-content
      +section
        .inner
          +product-inner
