extends layouts/layout

block variables
  -
    const pageTitle ='Каталог товаров'

block content
  main.main
    +section
      .inner
        +product-grid('--3items')
          -for(item = 0; item < 6; item++)
            +product-item('', '--column')

    +section
      .inner
        +product-grid('--1items')
          -for(item = 0; item < 6; item++)
            +product-item('', '--list')

    +section
      .inner
        +product-grid()
          -for(item = 0; item < 6; item++)
            +product-item('', '--table')

        +pagination
