extends layouts/layout

block variables
  -
    const pageTitle ='Карточка товара'

block content
  main.main
    +breadcrumbs
      +breadcrumbs-item('Главная', 'main.html')
      +breadcrumbs-item('Каталог', '#')
      +breadcrumbs-item('NESCAFE', '#')
      +breadcrumbs-item('NESCAFÉ GOLD Aroma Intenso')
    .page-content
      +section
        .inner
          +product-inner
      +section('--bg, --ov')
        .inner
          +section-head
            +ui-h2('Похожие товары', '--bold')
          +product-grid('--4slider')
            .swiper
              .swiper-wrapper
                -for(item = 0; item < 6; item++)
                  +product-item('hit, favActive', '--column').swiper-slide
              +ui-swiper-buttons('product-grid')
