/* stylelint-disable scss/double-slash-comment-empty-line-before */
/* stylelint-disable indentation */
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background: #fff;
  box-shadow: 0 4px 35px rgb(0 0 0 / 0.07);
  &__top {
    padding: 10px 0;
    font-size: 14px;
    line-height: 1.2;
    color: #fff;
    background: #262626;
    animation: fade-in 0.3s;
    @include media-laptop {
      font-size: 13px;
    }
    @include media-tablet {
      display: none;
    }
    &-wrapper {
      display: flex;
      justify-content: space-between;
      gap: 20px;
    }
    &-item {
      display: flex;
      align-items: center;
      &--time {
        @include media-laptop {
          display: none;
        }
      }
    }
    &-icon {
      flex-shrink: 0;
      width: 20px;
      height: 20px;
      margin-right: 10px;
      @include media-laptop {
        width: 15px;
        height: 15px;
        margin-right: 2px;
      }
    }
    &-descr {
      &--detail {
        @include media-laptop {
          display: none;
        }
      }
    }
  }
  &__foot {
    animation: fade-in 0.3s;
    @include media-tablet {
      display: none;
    }
    &-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 40px;
      padding: 15px 0;
      border-top: 1px solid #f2f2f2;
    }
  }
  &__menu {
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.2;
    list-style-type: none;
    @include media-laptop {
      gap: 15px;
      font-size: 14px;
    }
  }
  &__main {
    padding: 15px 0;
    transition: 0.3s;
    @include media-laptop {
      padding: 20px 0 10px;
    }
    @include media-tablet {
      padding: 10px 0;
    }
    &-wrapper {
      display: flex;
      align-items: flex-end;
      @include media-tablet {
        flex-wrap: wrap;
        align-items: center;
      }
    }
    &-item {
      flex: 1;
      display: flex;
      @include media-tablet {
        order: 1;
        flex: auto;
        width: 100%;
        margin-top: 10px;
      }
    }
  }
  &__logo {
    display: block;
    flex-shrink: 0;
    width: 172px;
    margin-right: 34px;
    animation: fade-in 0.3s;
    @include media-laptop {
      width: 82px;
      min-width: 20px;
    }
    @include media-tablet {
      width: 74px;
      margin: 0;
    }
  }
  &__icons {
    display: flex;
    align-items: center;
    gap: 30px;
    height: 46px;
    @include media-laptop {
      height: 38px;
      gap: 20px;
    }
    @include media-tablet {
      gap: 14px;
      height: auto;
      margin: auto;
    }
    &-item--basket {
      display: none;
      animation: fade-in 0.3s;
      @include media-tablet {
        display: block;
      }
    }
  }
  &__user {
    width: 30px;
    height: 30px;
    font-weight: 500;
    font-size: 35px;
    text-align: center;
    color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 2.5C13.7639 2.5 12.5555 2.86656 11.5277 3.55331C10.4999 4.24007 9.6988 5.21619 9.22575 6.35823C8.75271 7.50027 8.62893 8.75693 8.87009 9.96931C9.11125 11.1817 9.7065 12.2953 10.5806 13.1694C11.4547 14.0435 12.5683 14.6388 13.7807 14.8799C14.9931 15.1211 16.2497 14.9973 17.3918 14.5242C18.5338 14.0512 19.5099 13.2501 20.1967 12.2223C20.8834 11.1945 21.25 9.98613 21.25 8.75C21.25 7.0924 20.5915 5.50269 19.4194 4.33058C18.2473 3.15848 16.6576 2.5 15 2.5ZM15 12.5C14.2583 12.5 13.5333 12.2801 12.9166 11.868C12.2999 11.456 11.8193 10.8703 11.5355 10.1851C11.2516 9.49984 11.1774 8.74584 11.3221 8.01841C11.4667 7.29098 11.8239 6.6228 12.3483 6.09835C12.8728 5.5739 13.541 5.21675 14.2684 5.07206C14.9958 4.92736 15.7498 5.00162 16.4351 5.28545C17.1203 5.56928 17.706 6.04993 18.118 6.66661C18.5301 7.2833 18.75 8.00832 18.75 8.75C18.75 9.74456 18.3549 10.6984 17.6517 11.4017C16.9484 12.1049 15.9946 12.5 15 12.5ZM26.25 26.25V25C26.25 22.6794 25.3281 20.4538 23.6872 18.8128C22.0462 17.1719 19.8206 16.25 17.5 16.25H12.5C10.1794 16.25 7.95376 17.1719 6.31282 18.8128C4.67187 20.4538 3.75 22.6794 3.75 25V26.25H6.25V25C6.25 23.3424 6.90848 21.7527 8.08058 20.5806C9.25269 19.4085 10.8424 18.75 12.5 18.75H17.5C19.1576 18.75 20.7473 19.4085 21.9194 20.5806C23.0915 21.7527 23.75 23.3424 23.75 25V26.25H26.25Z' fill='%231D57A5'/%3E%3C/svg%3E%0A");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    @include media-laptop {
      width: 25px;
      height: 25px;
      font-size: 26px;
    }
    @include media-tablet {
      font-size: 20px;
    }
    &--authorized {
      width: 45px;
      height: 45px;
      background: $blue;
      border-radius: 50%;
      @include media-laptop {
        width: 35px;
        height: 35px;
      }
      @include media-tablet {
        width: 25px;
        height: 25px;
      }
    }
  }
  &__fav {
    display: block;
    width: 30px;
    height: 30px;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M27.041 8.30666C26.6483 7.39739 26.0821 6.57343 25.374 5.88088C24.6654 5.18627 23.83 4.63427 22.9131 4.2549C21.9623 3.85996 20.9426 3.65781 19.9131 3.66018C18.4688 3.66018 17.0596 4.05568 15.835 4.80275C15.542 4.98147 15.2637 5.17776 15 5.39162C14.7363 5.17776 14.458 4.98147 14.165 4.80275C12.9404 4.05568 11.5312 3.66018 10.0869 3.66018C9.04688 3.66018 8.03906 3.8594 7.08691 4.2549C6.16699 4.63576 5.33789 5.18361 4.62598 5.88088C3.91698 6.57264 3.35062 7.39681 2.95898 8.30666C2.55176 9.25295 2.34375 10.2578 2.34375 11.292C2.34375 12.2676 2.54297 13.2842 2.93848 14.3184C3.26953 15.1826 3.74414 16.0791 4.35059 16.9844C5.31152 18.417 6.63281 19.9112 8.27344 21.4258C10.9922 23.9365 13.6846 25.6709 13.7988 25.7412L14.4932 26.1865C14.8008 26.3828 15.1963 26.3828 15.5039 26.1865L16.1982 25.7412C16.3125 25.668 19.002 23.9365 21.7236 21.4258C23.3643 19.9112 24.6855 18.417 25.6465 16.9844C26.2529 16.0791 26.7305 15.1826 27.0586 14.3184C27.4541 13.2842 27.6533 12.2676 27.6533 11.292C27.6563 10.2578 27.4482 9.25295 27.041 8.30666ZM15 23.8692C15 23.8692 4.57031 17.1865 4.57031 11.292C4.57031 8.30666 7.04004 5.88674 10.0869 5.88674C12.2285 5.88674 14.0859 7.08205 15 8.82815C15.9141 7.08205 17.7715 5.88674 19.9131 5.88674C22.96 5.88674 25.4297 8.30666 25.4297 11.292C25.4297 17.1865 15 23.8692 15 23.8692Z' fill='%231D57A5'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    @include media-laptop {
      width: 25px;
      height: 25px;
    }
    &--active {
      background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M27.041 8.30666C26.6483 7.39739 26.0821 6.57343 25.374 5.88088C24.6654 5.18627 23.83 4.63427 22.9131 4.2549C21.9623 3.85996 20.9426 3.65781 19.9131 3.66018C18.4688 3.66018 17.0596 4.05568 15.835 4.80275C15.542 4.98147 15.2637 5.17776 15 5.39162C14.7363 5.17776 14.458 4.98147 14.165 4.80275C12.9404 4.05568 11.5312 3.66018 10.0869 3.66018C9.04688 3.66018 8.03906 3.8594 7.08691 4.2549C6.16699 4.63576 5.33789 5.18361 4.62598 5.88088C3.91698 6.57264 3.35062 7.39681 2.95898 8.30666C2.55176 9.25295 2.34375 10.2578 2.34375 11.292C2.34375 12.2676 2.54297 13.2842 2.93848 14.3184C3.26953 15.1826 3.74414 16.0791 4.35059 16.9844C5.31152 18.417 6.63281 19.9112 8.27344 21.4258C10.9922 23.9365 13.6846 25.6709 13.7988 25.7412L14.4932 26.1865C14.8008 26.3828 15.1963 26.3828 15.5039 26.1865L16.1982 25.7412C16.3125 25.668 19.002 23.9365 21.7236 21.4258C23.3643 19.9112 24.6855 18.417 25.6465 16.9844C26.2529 16.0791 26.7305 15.1826 27.0586 14.3184C27.4541 13.2842 27.6533 12.2676 27.6533 11.292C27.6563 10.2578 27.4482 9.25295 27.041 8.30666ZM15 23.8692C15 23.8692 4.57031 17.1865 4.57031 11.292C4.57031 8.30666 7.04004 5.88674 10.0869 5.88674C12.2285 5.88674 14.0859 7.08205 15 8.82815C15.9141 7.08205 17.7715 5.88674 19.9131 5.88674C22.96 5.88674 25.4297 8.30666 25.4297 11.292C25.4297 17.1865 15 23.8692 15 23.8692Z' fill='%23FA4444'/%3E%3Cpath d='M15 23.8692C15 23.8692 4.57031 17.1865 4.57031 11.292C4.57031 8.30666 7.04004 5.88674 10.0869 5.88674C12.2285 5.88674 14.0859 7.08205 15 8.82815C15.9141 7.08205 17.7715 5.88674 19.9131 5.88674C22.96 5.88674 25.4297 8.30666 25.4297 11.292C25.4297 17.1865 15 23.8692 15 23.8692Z' fill='%23FA4444'/%3E%3C/svg%3E%0A");
    }
  }
  &__ui-button {
    padding: 13px 42px;
    font-size: 16px;
    @include media-laptop {
      padding: 9px 13px;
    }
  }
  &__search {
    z-index: 100;
    flex: 1;
    margin: 0 30px 0 34px;
    @include media-laptop {
      margin: 0 20px;
    }
    @include media-tablet {
      margin: 0 0 0 15px;
    }
  }
  &__burger-btn {
    position: relative;
    flex-shrink: 0;
    display: none;
    width: 34px;
    height: 34px;
    padding: 0;
    background: transparent;
    border: 0;
    cursor: pointer;
    @include media-tablet {
      display: block;
    }
    span {
      position: absolute;
      top: 16px;
      left: 4px;
      width: 26px;
      height: 3px;
      background: $blue;
      &::before,
      &::after {
        content: '';
        position: absolute;
        top: -7px;
        left: 0;
        width: 26px;
        height: 3px;
        background: inherit;
        transition: 0.3s;
      }
      &::after {
        top: 7px;
      }
    }
  }
  &--scroll {
    .header {
      &__top,
      &__foot {
        display: none;
      }
      &__logo {
        display: none;
      }
      &__main {
        padding: 35px 0;
        @include media-laptop {
          padding: 18px 0;
        }
      }
      &__search {
        margin: 0 50px;
        @include media-laptop {
          margin: 0 30px;
        }
      }
      &__icons-item--basket {
        display: block;
      }
    }
  }
  &__shadow {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: rgb(18 18 18 / 0.5);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
    &.active {
      opacity: 1;
      visibility: visible;
    }
  }
//   &--burger-active {
//     .header {
//       &__content,
//       &__shadow {
//         opacity: 1;
//         visibility: visible;
//       }
//       &__burger-btn {
//         &::before {
//           transform: rotate(-45deg) translate(0, 0);
//         }
//         &::after {
//           transform: rotate(45deg) translate(0, 0);
//         }
//       }
//     }
//   }
}
.header-catalog {
  position: fixed;
  top: var(--header-height-for-catalog, 200px);
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 110;
  display: none;
  height: calc(100vh - var(--header-height-for-catalog, 200px));
  background: #f3f2f2;
  border-top: 1px solid #f2f2f2;
  overflow: hidden;
  animation: fade-in 0.3s;
  @include media-tablet {
    top: 0;
    height: 100%;
    border-top: 0;
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 100vh;
    height: 100%;
    background: #fff;
    @include media-tablet {
      display: none;
    }
  }
  &__inner {
    position: relative;
    z-index: 5;
    display: grid;
    align-items: start;
    grid-template-columns: 310px 1fr;
    height: inherit;
    @include media-laptop {
      grid-template-columns: 235px 1fr;
    }
    @include media-tablet {
      display: block;
    }
  }
  &__nav {
    padding: 45px 0;
    @include media-laptop {
      padding: 20px 0;
    }
    @include media-tablet {
      padding: 15px 0;
    }
  }
  &__button {
    display: flex;
    align-items: center;
    padding: 16px 50px;
    cursor: pointer;
    transition: 0.3s;
    @include media-laptop {
      padding: 2px 10px;
    }
    @include media-tablet {
      padding: 6px 15px;
    }
    &:not(:last-child) {
      @include media-laptop {
        margin-bottom: 10px;
      }
      @include media-tablet {
        margin-bottom: 0;
      }
    }
    &-logo {
      flex-shrink: 0;
      width: 36px;
      height: 36px;
      margin-right: 20px;
      @include media-laptop {
        width: 25px;
        height: 25px;
        margin-right: 6px;
      }
    }
    &-name {
      font-weight: 700;
      font-size: 18px;
      line-height: 140%;
      @include media-laptop {
        font-size: 14px;
      }
    }
    &.active {
      color: $blue;
      background: #fff;
      @include media-laptop {
        font-size: 16px;
      }
    }
  }
  &__main {
    height: inherit;
    @include media-tablet {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5;
      display: none;
      width: 100%;
      height: 100%;
    }
  }
  &__item {
    display: none;
    height: inherit;
    padding: 25px 35px 25px 60px;
    background: #fff;
    overflow-y: auto;
    animation: fade-in 0.3s;
    @include media-laptop {
      padding: 20px;
    }
    &.active {
      display: block;
    }
    &::-webkit-scrollbar {
      width: 3px;
      background-color: #f5f4f4;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #d9d9d9;
      border-radius: 3px;
    }
  }
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    @include media-tablet {
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;
    }
  }
  &__company {
    text-align: center;
    background: #fff;
    border-radius: 10px;
    transition: 0.3s;
    &:hover {
      box-shadow: 0 4px 22px rgb(51 51 51 / 0.09);
    }
    &-logo {
      height: 95px;
      @include media-laptop {
        height: 55px;
      }
      @include media-tablet {
        height: 62px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &-name {
      padding: 5px 35px 10px;
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      color: $black;
      @include media-laptop {
        padding: 2px 10px 5px;
        font-size: 12px;
      }
      @include media-tablet {
        padding: 2px 20px 6px;
      }
    }
  }
  &.active {
    display: block;
  }
}
.header-burger {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 110;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #fffdfd;
  overflow-y: auto;
  visibility: hidden;
  &__head {
    padding: 10px 15px;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    text-align: right;
    color: $blue;
    background: #fff;
    box-shadow: 0 4px 35px rgb(0 0 0 / 0.07);
  }
  &__close {
    cursor: pointer;
  }
  &__main {
    flex: auto;
    display: flex;
    flex-direction: column;
    padding: 15px;
  }
  &__menu {
    margin: auto 0;
    padding: 20px 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    list-style: none;
    &-item {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
  &__links {
    margin-top: auto;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    &-item {
      display: flex;
      width: fit-content;
      margin: 0 auto;
      &:not(:last-child) {
        margin-bottom: 17px;
      }
    }
    &-icon {
      flex-shrink: 0;
      width: 20px;
      height: 20px;
      margin-right: 4px;
      filter: invert(1);
    }
    &-descr {
      align-self: center;
    }
  }
  &.active {
    visibility: visible;
  }
}
