-
  let headerMenu =[
    {
      name: 'Главная',
      link: 'main.html',
    },
    {
      name: 'О компании',
      link: 'about.html',
    },
    {
      name: 'Сотрудничество',
      link: 'cooperation.html',
    },
    {
      name: 'Новости',
      link: 'news.html',
    },
    {
      name: 'Контакты',
      link: 'contacts.html',
    },
    {
      name: 'Скачать каталог',
      link: 'catalog.html',
    },
  ]

header.header
  .header__top
    .inner
      .header__top-wrapper
        .header__top-item.header__top-item--locaton
          .header__top-icon
            img(src='img/icon_location_white.svg', alt='')
          .header__top-descr г. Старый Оскол
          .header__top-descr.header__top-descr--detail ,ул. Первой Конной Армии, д. 67, ПОМЕЩ. 20
        .header__top-item.header__top-item--time
          .header__top-icon
            img(src='img/icon_time_white.svg', alt='')
          .header__top-descr 09:00 — 21:00
        a.header__top-item.header__top-item--phone(href='tel:88001234567')
          .header__top-icon
            img(src='img/icon_phone_white.svg', alt='')
          .header__top-descr 8 800 123-45-67
        a.header__top-item.header__top-item--email(href='mailto:sales@optovikpro.ru')
          .header__top-icon
            img(src='img/icon_mail_white.svg', alt='')
          .header__top-descr sales@optovikpro.ru

  .header__main
    .inner
      .header__main-wrapper
        a.header__logo(href='/')
          img(src='img/icon_logo.png' alt='')
        //- +ui-button('', '--burger-active').header__catalog-open
        .header__main-item
          +ui-button('', 'header')
            .ui-button__burger
              span
            span Каталог
          +search('header')
        .header__icons
          .header__icons-item
            a.header__fav(class=headerFavActive ? 'header__fav--active' : '' href='#')
          .header__icons-item
            if headerUserAuthorized
              .header__user.header__user--authorized c
            else
              .header__user
          .header__icons-item.header__icons-item--basket
            +header__basket('short').header__basket--count-static.header__basket--icon-l
        button.header__burger-btn
          span

  .header__foot
    .inner
      .header__foot-wrapper
        ul.header__menu
          each item in headerMenu
            li.header__menu-item
              a.header__menu-link(href=item.link)=item.name
        +header__basket()

  .header__shadow
        //- +ui-button('Заказать звонок', '--empty, header')(href='javascript:void(0)' onclick='window.getPopup("#contact-us-form")')
