mixin product-info(mods)
  -
    const baseName = 'product-info'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .product-info(class=allMods)&attributes(attributes)
    .product-info__category Категория: Кофе
    h1.product-info__name NESCAFÉ GOLD Aroma Intenso
    .product-info__props
      .product-info__article Артикул: 12451506
      .product-info__stock Остаток на складе: 150 шт
    +product-prices('product-info')
    .product-info__descr Мы тщательно отбираем кофейные зёрна и обжариваем их до темно-коричневого цвета, чтобы раскрыть всю глубину вкуса и&nbsp;аромата в каждой чашке кофе NESCAFÉ® Gold Aroma Intenso. Насладитесь интенсивным вкусом и ярким ароматом этого 100% натурального сублимированного кофе, с добавлением молотой Арабики.
    block
